In [9]:
import numpy as np

In [10]:
import matplotlib

In [11]:
import pandas as pd

In [12]:
# Pandas 의 Dataframe을 생성합니다
names = ['Bob','제시카','마리','John','Mel']
births = [23423,234123,12312,3123,2123]
custom = [1,123,123,1,3123]

BabyDataSet = list(zip(names,births)) # 두개의 열 데이터를 입력한 뒤 list() 함수와 zip() 함수로 데이터셋을 생성
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births']) # 데이터 객체 프레임 생성

In [13]:
# 데이터프레임의 상단 부분을 출력
df.head()

  Names  Births
0   Bob   23423
1   제시카  234123
2    마리   12312
3  John    3123
4   Mel    2123

In [14]:
# 데이터 프레임 기본 정보 출력
# 데이터프레임의 열타입 정보를 출력
df.dtypes

Names     object
Births     int64
dtype: object

In [15]:
df.index # 행의 형태

RangeIndex(start=0, stop=5, step=1)

In [16]:
df.columns # 열의 형태

Index(['Names', 'Births'], dtype='object')

In [17]:
df['Names']

0     Bob
1     제시카
2      마리
3    John
4     Mel
Name: Names, dtype: object

In [18]:
df[0:3] # 행의 구간에 해당하는 데이터 출력

  Names  Births
0   Bob   23423
1   제시카  234123
2    마리   12312

In [19]:
df[df['Births']>1000

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_6892/1425218960.py, line 1)

In [20]:
df.mean()

C:\Users\YJ\AppData\Local\Temp/ipykernel_6892/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Births    55020.8
dtype: float64

Numpy 사용법
Numpy는 Numerical Python의 줄임말로 수치 계산을 위해 만들어진 파이썬 라이브러리
넘파이는 배열 개념으로 변수를 사용하여 벡터, 행렬 등의 연산을 수행

In [21]:
# 넘파이 배열선언
# 1차원 배열이 4개 2차원 배열이 5개 20개 숫자
arr1= np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [22]:
arr1.shape

(4, 5)

In [23]:
arr1.dtype

dtype('int32')

In [24]:
# ones,zeros() 함수는 0으로 채워진 넘파이 배열을 생성하는 함수
arr3 = np.ones((3,4))
arr3

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [25]:
# 넘파이 데이터 연산 방법
# 동일한 shape을 가진 2개의 데이터 생성
arr4 = np.array([
    [1,2,3],[4,5,6]], dtype = np.float64)
arr5 = np.array([
    [7,8,9],[10,11,12]], dtype = np.float64)
#사칙연산 출력
print(arr4+arr5,"\n")
print(arr4-arr5,"\n")
print(arr4*arr5,"\n")
print(arr4/arr5,"\n")

[[ 8. 10. 12.]
 [14. 16. 18.]]

[[-6. -6. -6.]
 [-6. -6. -6.]]

[[ 7. 16. 27.]
 [40. 55. 72.]]

[[0.14285714 0.25       0.33333333]
 [0.4        0.45454545 0.5       ]]

In [ ]:
y = df['Births']
x = df['Names']
# 막대 그래프를 출력합니다.
plt.bar(x, y) # 막대 그래프 객체 생성
plt.xlabel('Names') # x 축 제목
plt.ylabel('Births') # y 축 제목
plt.title('Bar plot') # 그래프 제목
plt.show() # 그래프출력